@import url("./colors.css");
@import url("./global.css");
@import url("./animation.css");
.baresHeader {
  width: 100%;
  padding: 20px 0;
  position: relative;
}
.baresHeader::before {
  content: "";
  width: 100%;
  height: 65%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/header/bg.jpg);
  opacity: 0.12;
  z-index: 2;
}
.baresHeader::after {
  content: "";
  width: 100%;
  height: 65%;
  background-color: var(--header-bg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.tagSection {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  margin: 0 auto;
  gap: 10px;
  z-index: 10;
}
/* .tagSection .tagInner {
  width: 30%;
} */
.heroTag {
  padding: 0 30px;
  width: max-content;
  border-radius: 20px;
  height: 65px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: red;
  display: flex;

  align-items: center;
  justify-content: center;
  color: var(--textLight);
  font-weight: bold;
  margin-bottom: 40%;
}
.rightTags .heroTag:nth-child(2) {
  margin-left: auto;
}
.tag1 {
  background-color: #f91f5d;
}
.tag2 {
  background-color: #f9901f;
}

.tag3 {
  background-color: #228d87;
}

.tag4 {
  background-color: #6555a5;
}

.tag5 {
  background-color: #60d0fc;
}
.baresHero2::before,
.baresHero2::after {
  height: 90%;
}
.BarTop {
  width: 100%;
  min-height: 55px;
  background-color: var(--primary-color);
}
.baresNav {
  border-radius: 20px;
  width: 100%;
  height: auto;
  position: relative;
  font-family: "Urbanist";
  overflow: hidden;
}
.mobileNav {
  display: none;
  text-align: end;
  margin-right: 20px;
  color: var(--textDark);
  font-size: 18px;
}

.mobileNavInner {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobileNavInner ul {
  flex-direction: column;
}

.mobileNavInner ul li a {
  color: var(--textDark) !important;
  font-size: 50px !important;
}
.mobileNavInner svg {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
}
.BarTop {
  padding-left: 35px;
}
.detailSingle {
  width: auto;
  height: 100%;
  padding-left: 30px;
  gap: 6px;
  font-size: 14px;
  color: var(--textDark);
}
.detailSingle p {
  font-weight: 700;
}
.detailSingle.border {
  padding-right: 30px;
}

.border {
  border-right: solid 1px var(--border-gap);
}
.socialIcons a {
  color: var(--textDark);
  font-size: 14px;
  padding: 0 15px;
}
.baresButtonE {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.baresBtn2:hover {
  color: var(--textDark);
  background-color: var(--textDark);
}
.baresButton-hover {
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-top: 0px;
  pointer-events: none;
}
.baresButton span:nth-child(1) {
  position: relative;
  z-index: 2;
}
.baresBtn2 svg {
  margin-right: 10px;
}
.baresBtn2 {
  height: 100%;
  background-color: var(--secondary-color);
  border: 0;
  color: var(--textLight);
  font-size: 16px;
  font-weight: 700;
  padding: 0 30px;
}
.navInner {
  width: 100%;
  min-height: 100px;
  background-color: var(--textLight);
  padding: 10px 65px;
}
.logo {
  font-size: 45px;
  font-weight: 900;
  color: var(--textDark);
  font-family: "Space Grotesk";
}
.logo img {
  width: 41px;
  margin-right: 10px;
}
.baresNav ul {
  list-style: none;
  gap: 60px;
}
.baresNav ul li a {
  font-size: 18px;
  font-weight: bold;
  color: var(--header-bg);
  text-decoration: none;
}
.searchIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(241, 241, 241);
  font-size: 19px;
  color: rgb(55, 43, 43);
  cursor: pointer;
}
.ant-modal-wrap > div {
  width: 700px !important;
}
.ant-input-group-addon button {
  background-color: var(--primary-color);
  color: var(--textDark);
  font-family: "Space Grotesk";
}
.ant-input-group-addon button:hover {
  background-color: var(--secondary-color) !important;
  color: var(--textLight) !important;
}
.baresHero {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 0 !important;
}
.baresHeading {
  overflow: hidden;
  transform: translateX(-50px);
  opacity: 0;
  transition: var(--transition);
}
h1.baresHeading {
  font-size: 70px;
}
h2.baresHeading {
  font-size: 65px;
}
h3.baresHeading {
  font-size: 35px;
}
h4.baresHeading {
  font-size: 30px;
}

h5.baresHeading {
  font-size: 25px;
}
.baresHeading {
  color: var(--textLight);
  font-weight: bold;
  line-height: 1;
}
.rating {
  background-color: rgb(252, 204, 66);
  width: 66px;
  height: 33px;
  border-radius: 17px;
  font-size: 15px;
}
.rating svg {
  margin-right: 5px;
  font-size: 12px;
}
.baresDesc {
  font-size: 18px;
  font-weight: 400;
  color: var(--textLight);
  margin: 15px 0;
  line-height: 1.6;
}
.HeroSlider {
  width: 100%;
  height: 550px;
}
.swiper {
  position: relative;
}
.swiper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}
.HeroSlider .swiper {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.swiper-slide {
  position: relative;
  display: flex;
  padding: 45px 55px;
  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;
  justify-content: end !important;
}
.swiper-slide::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/images/slider/blurry.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-size: cover;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-pagination {
  bottom: 20px !important;
}
.swiper-pagination-bullet {
  border-radius: 50% !important;
  width: 16px !important;
  height: 16px !important;
  background-color: var(--textLight) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}
.borderHeading span {
  font-weight: bold;
  color: var(--primary-color);
  display: block;
  margin-bottom: 15px;
  font-size: 15px;
  transform: translateX(-100%);
  transition: var(--transition);
  transition-delay: 0.3s;
}
.visibleClass span,
.visibleClass {
  transform: translateX(0);
  opacity: 1;
}
.borderHeading {
  padding-left: 25px;
  position: relative;
  width: 100%;
}
.borderHeading::before {
  content: "";
  width: 5px;
  position: absolute;
  background-color: var(--primary-color);
  left: 0;
  top: 0;
  border-radius: 2.5px;
  height: 100%;
}
.baresTag {
  border-radius: 15px;
  background-color: var(--border-gap);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  color: var(--textDark);
  font-size: 13px;
  font-weight: 400;
  width: max-content;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}
.baresTag2 {
  height: 50px;
  border-radius: 50px;
  text-transform: capitalize;
  background-color: var(--textLight);
  margin: auto 0;
  margin-bottom: 20px;
}
.baresTag2 svg {
  font-size: 18px;
  color: rgb(255, 180, 1);
  margin-right: 10px;
}
.serviceSingle {
  position: relative;
  border-radius: 30px;
  margin-top: 60px;
}
.serviceSingle,
.serviceSingle > * {
  transition: var(--transition);
}
.baresImage {
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--gray-bg);
}
.baresImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.serviceSingle .baresImage {
  height: 240px;
  margin-bottom: 20px;
}

.serviceIcon {
  width: 80px;
  height: 80px;
  background-color: var(--textDark);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.serviceIcon img {
  width: 40px;
}
.serviceSingle .baresDesc {
  width: 80%;
  margin: 15px auto;
  margin-bottom: 0 !important;
}
.serviceSingle:hover {
  padding: 30px 45px;
  background-color: var(--primary-color);
}
.serviceSingle:hover .serviceThumb {
  height: 180px;
}
.serviceSingle:hover .baresDesc {
  width: 100%;
}
.serviceSingle:hover .serviceIcon {
  top: -20px;
  opacity: 0;
}
.serviceSingle:hover .serviceThumb {
  border-radius: 10px;
  padding-bottom: 0;
}
.serviceSingle a {
  font-size: 18px;
  font-family: "Urbanist";
  font-weight: bold;
  color: var(--textDark);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
.serviceSingle a svg {
  font-size: 14px;
  margin-left: 8px;
}
.baresBtn {
  height: 60px;
  background-color: var(--primary-color);
  color: var(--textDark);
  padding: 0 30px;
  border-radius: 32px;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Space Grotesk";
  margin-top: 60px;
  cursor: pointer;
}
.baresBtn:hover {
  color: var(--textLight);
  --primary-color: var(--textDark);
}
.baresBtn svg {
  margin-left: 12px;
  transform: rotate(-45deg);
}
.sideImage img:nth-child(1) {
  border-radius: 30px;
}
.check {
  background-color: var(--textLight);
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-25%, -25%);
}
.baresList {
  list-style: none;
  display: flex;
  gap: 25px;
}
.baresList li {
  font-size: 18px;
  font-weight: bold;
}
.baresList li svg {
  font-size: 15px;
  color: var(--primary-color);
  margin-right: 10px;
}
.ant-tabs {
  all: unset;
}
.baresTabs {
  background-image: url(/images/bg.png);
}
.baresTabs .ant-tabs-nav-wrap {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.baresTabs .ant-tabs-tab-btn {
  font-size: 35px;
  font-weight: 500;
  color: var(--textDark);
}
.baresTabs .ant-tabs-tab.ant-tabs-tab-active {
  border-color: var(--primary-color);
}
.baresTabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary-color);
}
.ant-tabs-ink-bar {
  display: none;
}
.projectSingle {
  width: 100%;
  height: 360px;
  position: relative;
}
.projectSingle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.borderTop {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}

.borderBottom {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.projectSingle a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  background-color: var(--textLight);
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--textDark);
  opacity: 0;
  z-index: 2;
  transition: var(--transition);
}

.projectSingle::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: var(--transition);

  opacity: 0;
  z-index: 1;
}
.projectSingle:hover a {
  opacity: 1;
}

.projectSingle:hover::before {
  opacity: 0.8;
}
.baresAbout .baresTag {
  margin-left: 0;
}
.aboutContent {
  margin-top: 25px;
}
.baresVideo {
  width: 100%;
  min-height: 750px;
  background-image: url(/images/video/videoBg.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.baresVideo:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--textDark);
  opacity: 0.34;
}
.videoBtn {
  width: 135px;
  height: 135px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
}
.videoBtn svg {
  font-size: 32px;
  color: var(--textLight);
}
.baresVideo .container {
  text-align: center;
}
.baresVideo .baresList {
  margin-top: 20px;
}
.baresVideo .baresBtn {
  margin-top: 30px;
}
.BaresVideo {
  width: 100%;
  height: 500px;
}
.ant-modal-content {
  width: 700px;
}
.baresTabSingle {
  width: 100%;
  height: auto;
  margin-top: 30px;
  border: solid 3px var(--borderColor);
  border-radius: 10px;
  display: block;
  transition: var(--transition);
  padding: 40px 20px;
}

.tabNumber {
  width: 75%;
  background-color: var(--borderColor);
  padding: 15px 25px;
  font-size: 30px;
  color: var(--textDark);
  font-weight: 800;
  font-family: "Urbanist";
  transition: var(--transition);
  border-radius: 45px;
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baresTabSingle:hover .tabNumber {
  height: 180px;
  background-color: var(--primary-color);
}
.baresTabSingle .baresDesc {
  font-weight: 400;
  color: rgb(126, 126, 126);
  margin: 0;
  font-size: 14px;
}

.tabTitle .baresDesc {
  color: rgb(126, 126, 126);
  font-weight: bold;
  margin: 0;
}
.baresTabSingle:hover .tabLink svg {
  color: var(--primary-color);
}

.baresTabSingle:hover .tabLink {
  border: 0;
}

.tabLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  border-left: solid 3px var(--borderColor);
}

.tabLink svg {
  font-size: 25px;
  color: var(--textDark);
  transform: rotate(-30deg);
}

.tabImg {
  border-radius: 90px;
  max-width: 100%;
  height: 180px;
  overflow: hidden;
}

.tabImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.stickyNav {
  z-index: 5;
  background-color: var(--textLight);
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 21px 19px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 21px 19px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 21px 19px -10px rgba(0, 0, 0, 0.75);
}

.tabTags {
  width: max-content;
  height: 42px;
  display: grid;
  place-content: center;
  border-radius: 21px;
  font-size: 17px;
  font-weight: bold;
  padding: 0 20px;
  background-color: var(--primary-color);
  margin-top: 10px;
}

.blogSingle {
  width: 100%;
  height: auto;
  padding: 30px 30px 60px 30px;
  background-color: var(--borderColor);
  border-radius: 30px;
}
.blogSingle {
  margin-top: 40px;
}
.blogImg {
  width: 100%;
  height: 265px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.blogImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogSingle .baresHeading {
  margin-top: 25px;
}
.blogSingle .baresDesc {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  margin-top: 15px;
}
.blogTerms {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px 30px;
}

.blogTerms .date {
  width: max-content;
  height: 32px;
  border-radius: 16px;
  background-color: var(--primary-color);
  font-size: 13px;
  font-weight: bold;
  display: grid;
  place-content: center;
  padding: 0 20px;
}
.baresForm {
  width: 100%;
  height: auto;
  position: relative;
}
.formBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.formBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pattern {
  background-color: var(--textDark);
}
.baresForm form {
  padding: 60px;
  background-color: var(--primary-color);
  border-radius: 10px;
  max-width: 530px;
}
.baresForm form .baresHeading {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 40px;
}
.baresForm .baresDesc {
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}
.inputField {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  border: 0;
  background-color: var(--textLight);
  padding: 0 24px;
  transition: var(--transition);
  border: solid 2px transparent;
}
.inputField,
.inputField::placeholder {
  font-size: 13px;
  font-weight: 500;
  font-family: "Urbanist";
  color: var(--textDark);
}
textarea.inputField {
  height: 105px;
  padding-top: 30px;
}
.inputField:focus {
  outline: none;
  border-color: var(--textDark);
}
.baresForm .baresBtn2 {
  width: 100%;
  height: 57px;
  border-radius: 10px;
  margin-top: 25px;
  font-weight: 900;
  cursor: pointer;
  font-size: 17.5px;
}
.invalid {
  border-color: rgb(187, 33, 36);
}
.footerInner {
  width: 100%;
  padding: 60px 0;
  height: auto;
}
.copyright {
  width: 100%;
  background-color: var(--textDark);
  height: auto;
  padding: 40px 0;
}
.copyright * {
  font-family: "Urbanist";
  color: var(--gray-bg);
}
.copyright .baresDesc {
  margin: 0;
}
.footerLinks {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.baresTabSingle:hover {
  border-color: var(--primary-color);
  height: 270px;
}
.footerSocial {
  list-style: none;
}
.footerSocial li {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}
.footerSocial li a {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--textDark) !important;
}
.footerSocial .icon {
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: var(--primary-color);
  color: var(--textDark);
  font-size: 17px;
}
/* landing 3 */

.bgCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 730px;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circleBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.circle2 {
  width: 70%;
  height: 70%;
  position: relative;
}
.circle2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.circle2 img:nth-child(1) {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 90%;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
}
.apps {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.appSingle {
  background-color: var(--headingLight);
  box-shadow: 0px 15px 30.4px 1.6px rgba(29, 29, 29, 0.06);
  width: 83px;
  height: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -5%;
  left: 45%;
}
.appSingle:nth-child(2) {
  left: unset;
  right: -5%;
  top: 45%;
}
.appSingle:nth-child(3) {
  top: 45%;
  left: -5%;
}
.appSingle:nth-child(4) {
  top: unset;
  bottom: -5%;
  left: 45%;
}
.appSingle img {
  width: 65%;
}
.baresHero3 {
  min-height: 100vh;
}
.baresHero3 {
  margin-bottom: 100px;
}
.baresHero3 > section,
.baresHero3 > section .container,
.baresHero4 > section,
.baresHero4 > section .container {
  min-height: inherit;
}
.baresHero3 > section .container,
.baresHero4 > section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.baresHero3::before {
  background-image: url(/images/header/bg2.jpg);
  opacity: 1;
}
.baresHero3::after {
  background-color: var(--textLight);
}
.baresHero3::before,
.baresHero3::after {
  height: 100%;
}
.invert {
  mix-blend-mode: difference;
}
.baresHero4 {
  min-height: 80vh;
  margin-bottom: 100px;
}
.baresHero4::before,
.baresHero4::after {
  height: 100%;
}
