:root {
  --primary-color: rgb(255, 136, 81);
  --secondary-color: rgb(9, 9, 9);
  --gray-bg: rgb(237, 237, 237);
  --header-bg: rgb(3, 25, 48);
  --border-gap: rgb(255, 161, 118);
  --textDark: rgb(0, 0, 0);
  --textLight: rgb(255, 255, 255);
  --transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  --borderColor: rgb(242, 242, 242);
}
