@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}
body {
  width: 100%;
  height: auto;
  font-weight: normal;
  position: relative;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
}

.mx-auto {
  margin: 0 auto;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.baresPadding {
  padding: 100px 0;
}
.baresMargin {
  margin: 100px 0;
}
.position-relative {
  position: relative;
}
.zi-1 {
  z-index: 1;
}
.zi-2 {
  z-index: 2;
}
.zi-3 {
  z-index: 3;
}
.row {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.row-column {
  flex-direction: column;
}
.h-100 {
  height: 100%;
}
.flex-center-start {
  align-items: center;
  justify-content: start;
}

.flex-center-center {
  align-items: center;
  justify-content: center;
}

.flex-center-end {
  align-items: center;
  justify-content: end;
}

.flex-center-between {
  align-items: center;
  justify-content: space-between;
}

.flex-center-around {
  align-items: center;
  justify-content: space-around;
}

.flex-center-evenly {
  align-items: center;
  justify-content: space-evenly;
}

.flex-center-normal {
  align-items: center;
  justify-content: normal;
}

.flex-start-start {
  align-items: start;
  justify-content: start;
}

.flex-start-center {
  align-items: start;
  justify-content: center;
}

.flex-start-end {
  align-items: start;
  justify-content: end;
}

.flex-start-between {
  align-items: start;
  justify-content: space-between;
}

.flex-start-around {
  align-items: start;
  justify-content: space-around;
}

.flex-start-evenly {
  align-items: start;
  justify-content: space-evenly;
}

.flex-start-normal {
  align-items: start;
  justify-content: normal;
}

.flex-end-start {
  align-items: end;
  justify-content: start;
}

.flex-end-center {
  align-items: end;
  justify-content: center;
}

.flex-end-end {
  align-items: end;
  justify-content: end;
}

.flex-end-between {
  align-items: end;
  justify-content: space-between;
}

.flex-end-around {
  align-items: end;
  justify-content: space-around;
}

.flex-end-evenly {
  align-items: end;
  justify-content: space-evenly;
}

.flex-end-normal {
  align-items: end;
  justify-content: normal;
}

.flex-stretch-start {
  align-items: stretch;
  justify-content: start;
}

.flex-stretch-center {
  align-items: stretch;
  justify-content: center;
}

.flex-stretch-end {
  align-items: stretch;
  justify-content: end;
}

.flex-stretch-between {
  align-items: stretch;
  justify-content: space-between;
}

.flex-stretch-around {
  align-items: stretch;
  justify-content: space-around;
}

.flex-stretch-evenly {
  align-items: stretch;
  justify-content: space-evenly;
}

.flex-stretch-normal {
  align-items: stretch;
  justify-content: normal;
}

.flex-normal-start {
  align-items: normal;
  justify-content: start;
}

.flex-normal-center {
  align-items: normal;
  justify-content: center;
}

.flex-normal-end {
  align-items: normal;
  justify-content: end;
}

.flex-normal-between {
  align-items: normal;
  justify-content: space-between;
}

.flex-normal-around {
  align-items: normal;
  justify-content: space-around;
}

.flex-normal-evenly {
  align-items: normal;
  justify-content: space-evenly;
}

.flex-normal-normal {
  align-items: normal;
  justify-content: normal;
}
.text-center {
  text-align: center;
}
.textDark {
  color: var(--textDark) !important;
}

.textLight {
  color: var(--textLight) !important;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
